{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'keywords/landing_body.css' %}">
{% endblock %}

{% block  page_title %}
    Keywords List
{% endblock %}

{% block content %}
<ul id="fullListKeywords">
    {% for keyword in keywords %}
        <li class="keyword">
            <a href="/keywords/{{keyword}}">{{keyword|title}}</a>
        </li>
    {% endfor %}
</ul>
<hr>
<hr>
<h5>
    Developement Mode
</h5>
<pre>
    {{keywords}}
</pre>
{% endblock %}
