{% extends "layout.html" %}

{% load static %}

{% block page_title %}
    IPHES Thesaurus | {{keyword}}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'keywords/single_keyword.css' %}">
{% endblock %}

{% block content %}
    <h1>{{keyword|title}}</h1>
    <hr>
    <h2>
        InScheme:
    </h2>
    <ul>
        {% for scheme in keywordData.inScheme %}
            <h3><li><a href="/keywords/{{ scheme }}">{{scheme|title}}</a></li></h3>
        {% endfor %}
    </ul>
    <hr>
    {% if 'hasTopConcept' in keywordData %}
        <h2>hasTopConcept:</h2>
        <ul>
            {% for term in keywordData.hasTopConcept %}
                <li><a href="/keywords/{{term|lower}}">{{term|title}}</a></li>
            {% endfor %}
        </ul>
        <hr> 
    {% endif %}
    {% if 'narrower' in keywordData %}
        <h2>
            Narrower:
        </h2>
        <ul>
            {% for term in keywordData.narrower %}
                <li><a href="/keywords/{{ term|lower }}">{{ term|title }}</a></li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}
    {% if 'broader' in keywordData %}
    <h2>
        Broader:
    </h2>
    <ul>
        {% for broader in keywordData.broader%}
        <h3><li><a href="/keywords/{{ broader|lower }}">{{ broader|title }}</a></li></h3>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% if 'topConceptOf' in keywordData %}
    <h2>
        topConceptOf: <a href="/keywords/{{ keywordData.topConceptOf.0 }}"> {{ keywordData.topConceptOf.0|title }}</a>
    </h2>
    <hr>
    {% endif %}
    <h2>
        prefLabel: 
        <ul>
        {% for lang in keywordData.prefLabel %}
            <li>{{ lang.1 }}: {{ lang.0 }}</li>
        {% endfor %}
        </ul>
    </h2>
    <hr>
    <hr>
    <h5>Developement Mode</h5>
    {% for data in keywordData.items %}
        <b>{{data.0}}</b><p>{{data.1}}</p>
        <br>
    {% endfor %}
{% endblock %}