#fullListKeywords{
    list-style: none;
    width: 90%;
    margin: 2rem auto;
    max-width: 30rem;
    border-radius: 12px;
    background-color: #ebebeb;
    padding: 0;
}

#fullListKeywords .keyword{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ccc;
    /* 
    si queremos eliminar el espacio blanco 
    en los laterales al pasar el cursor
    por encima, debemos eliminar el siguiente
    valor
    */
    margin: 0 1rem;
}

.keyword:last-of-type{
    border: 0 !important;
}

.keyword a{
    text-decoration: none;
    color: #0c301a;
}

.keyword:hover, 
.keyword:hover>a{
    background-color: #3d3d3d;
    color:#a2bc2a;
}
.keyword:hover>ul{
    background-color: #ebebeb;
    color: initial;
}